version: '2.3'

x-volumes:
  &default-volumes
    # Define all volumes you would like to have real-time mounted into the docker containers
    volumes:
      - .:/app:delegated ### Local overrides to mount host filesystem. Automatically removed in CI and PROD.

x-environment:
  &default-environment
    # Route that should be used locally, if you are using pygmy, this route *must* end with .docker.amazee.io
    LAGOON_ROUTE: &default-url http://${COMPOSE_PROJECT_NAME:-ruby}.docker.amazee.io
    # Uncomment if you like to have the system behave like in production
    #LAGOON_ENVIRONMENT_TYPE: production
    # Uncomment to enable xdebug and then restart via `docker-compose up -d`
    #XDEBUG_ENABLE: "true"

x-user:
  &default-user
    # The default user under which the containers should run. Change this if you are on linux and run with another user than id `1000`
    user: '1000'

volumes:
  files:
    {}
  db:
    {}

services:

  ruby:
    image: &cli-image ${COMPOSE_PROJECT_NAME:-ruby-base}-cli
    networks:
      - amazeeio-network
      - default
    build:
      context: .
      dockerfile: ./lagoon/ruby.dockerfile
    labels:
      lagoon.type: node
    << : *default-volumes
    environment:
      << : *default-environment # loads the defined environment variables from the top

  nginx:
    build:
      context: .
      dockerfile: lagoon/nginx.dockerfile
      args:
        RUBY_IMAGE: *cli-image # Inject the name of the cli image
    labels:
      lagoon.type: nginx
    << : *default-volumes # loads the defined volumes from the top
    << : *default-user # uses the defined user from top
    ports:
      - "8080"
    depends_on:
      - ruby 
    environment:
      << : *default-environment # loads the defined environment variables from the top
      LAGOON_LOCALDEV_URL: ruby.docker.amazee.io
    networks:
      - amazeeio-network
      - default

  postgres:
    image: uselagoon/postgres-11-drupal:latest
    labels:
      lagoon.type: postgres
      lando.type: postgres-drupal
    ports:
      - "5432" # exposes the port 5432 with a random local port, find it with `docker-compose port postgres 5432`
    << : *default-user # uses the defined user from top
    environment:
      << : *default-environment
    volumes:
      - db:/var/lib/postgresql/data

networks:
  amazeeio-network:
    external: true
